Repository infoshareacademy/jfdzr9-team-BonVoyage: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier . --write, npm run lint -- --fix

Update validate.yml
  .github/workflows/validate.yml
Due: none

firestore configured
  src/firebase/firebase.config.ts
Due: prettier . --write, npm run lint -- --fix

firebase installed
  package-lock.json
  package.json
Due: prettier . --write

Added GLobalStyles and first draft Menu
  package-lock.json
  package.json
  src/App.tsx
  src/GlobalStyles/GlobalStyles.tsx
  src/components/MainNavMenu/MainNavMenu.styled.tsx
  src/components/MainNavMenu/MainNavMenu.tsx
Due: prettier . --write, npm run lint -- --fix

created simple loginPage layout and some simple styles
  src/pages/RegisterPage.tsx
  src/ui/button/button.styled.ts
  src/ui/form/form.styled.ts
Due: prettier . --write, npm run lint -- --fix

JFDZR9BV-56 @types/styled-components installed
  package-lock.json
  package.json
Due: prettier . --write

Finshied main nav Menu
  package-lock.json
  package.json
  src/App.tsx
  src/GlobalStyles/GlobalStyles.tsx
  src/components/MainNavMenu/MainNavMenu.styled.tsx
  src/components/MainNavMenu/MainNavMenu.tsx
  src/pages/LandingPage.tsx
Due: prettier . --write, npm run lint -- --fix

some minor changes
  src/components/MainNavMenu/MainNavMenu.tsx
Due: prettier . --write, npm run lint -- --fix

JFDZR9BV-57 fixed "Delete `CR`" error
  .eslintrc
Due: none

Jfdzr9 bv 57 fix "delete CR error"
  .eslintrc
Due: none

Added single map page
  .env.template
  .eslintrc
  env.d.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/Map/Map.styled.ts
  src/components/Map/Map.tsx
  src/pages/AddTrip.tsx
Due: prettier . --write, npm run lint -- --fix

Added jumbotron with Sign In button
  src/App.tsx
  src/assets/mountains-615428_1920.jpg
  src/components/Jumbotron/Jumbotron.style.tsx
  src/components/Jumbotron/Jumbotron.tsx
  src/components/MainNavMenu/MainNavMenu.styled.tsx
  src/components/MainNavMenu/MainNavMenu.tsx
  src/components/Utilities/Button/Button.tsx
  src/pages/LandingPage.tsx
Due: prettier . --write, npm run lint -- --fix

JFDZR9BV-58-Installed_React-Hook-Forms
  package-lock.json
  package.json
Due: prettier . --write

Started creating a carousel
  src/components/Carousel/Carousel.style.tsx
  src/components/Carousel/Carousel.tsx
  src/pages/LandingPage.tsx
Due: prettier . --write, npm run lint -- --fix

mend
  src/components/Map/Map.styled.ts
  src/components/Map/Map.tsx
  src/pages/AddTrip.tsx
Due: prettier . --write, npm run lint -- --fix

Added css-loader and style-loader packages
  package-lock.json
  package.json
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/TestVoyageData.tsx
Due: prettier . --write, npm run lint -- --fix

JFDZR9BV-59-addedCRLF end of line propert
  .eslintrc
  package-lock.json
Due: prettier . --write

JFDZR9BV-59-changed end of line to crlf
  .eslintrc
Due: none

Searchbar added
  package-lock.json
  package.json
  src/App.tsx
  src/components/Map/Map.styled.ts
  src/components/Map/Map.tsx
  src/components/SerchBarInput/SearchBarInput.styled.ts
  src/components/SerchBarInput/SearchBarInput.tsx
  src/pages/AddTrip.tsx
Due: prettier . --write, npm run lint -- --fix

fixed
  src/components/Map/Map.styled.ts
  src/components/Map/Map.tsx
Due: prettier . --write, npm run lint -- --fix

JFDZR9BV-61- created routing
  src/App.tsx
Due: prettier . --write, npm run lint -- --fix

Added working Swiper
  package-lock.json
  package.json
  src/components/Carousel/Carousel.style.tsx
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/TestVoyageData.tsx
Due: prettier . --write, npm run lint -- --fix

final
  package-lock.json
  package.json
  src/components/SerchBarInput/SearchBarInput.styled.ts
  src/components/SerchBarInput/SearchBarInput.tsx
Due: prettier . --write, npm run lint -- --fix

Finished styling and routing Carousel
  src/components/Carousel/Carousel.style.tsx
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/Swiper.css
  src/components/Carousel/TestVoyageData.tsx
  src/components/MainNavMenu/MainNavMenu.styled.tsx
  src/components/Utilities/Button/Button.tsx
Due: prettier . --write, npm run lint -- --fix

some minor styling and routing changes
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/Swiper.css
Due: prettier . --write, npm run lint -- --fix

added registerPage to the main routing
  src/App.tsx
Due: prettier . --write, npm run lint -- --fix

created form for registering new user account
  src/firebase/firebase.config.ts
  src/pages/RegisterPage.tsx
  src/ui/form/form.styled.ts
Due: prettier . --write, npm run lint -- --fix

created firebase.erros.ts
  src/firebase/firebase.errors.ts
Due: prettier . --write, npm run lint -- --fix

Merge
  package-lock.json
Due: prettier . --write

Revert "created firebase.erros.ts"
  src/firebase/firebase.errors.ts
Due: prettier . --write, npm run lint -- --fix

Revert "created form for registering new user account"
  src/firebase/firebase.config.ts
  src/pages/RegisterPage.tsx
  src/ui/form/form.styled.ts
Due: prettier . --write, npm run lint -- --fix

JFDZR9BV-30-created basic page layout
  src/pages/RegisterPage.tsx
Due: prettier . --write, npm run lint -- --fix

changed some dependencies to dev
  package-lock.json
Due: prettier . --write

added some styling to form
  src/ui/form/form.styled.ts
Due: prettier . --write, npm run lint -- --fix

JFDZR9BV-63-created-firebase-autentication
  src/firebase/firebase.config.ts
  src/pages/RegisterPage.tsx
Due: prettier . --write, npm run lint -- --fix

added addTrip to routing
  src/App.tsx
Due: prettier . --write, npm run lint -- --fix

added firebase errors to registerPage.tsx
  src/App.tsx
  src/firebase/firebaseErrors.ts
  src/pages/RegisterPage.tsx
Due: prettier . --write, npm run lint -- --fix

created SignIn page
  src/App.tsx
  src/components/Jumbotron/Jumbotron.tsx
  src/pages/SignInPage.tsx
Due: prettier . --write, npm run lint -- --fix

Added route
  src/App.tsx
  src/components/Map/Map.tsx
  src/components/SerchBarInput/SearchBarInput.tsx
Due: prettier . --write, npm run lint -- --fix

adding pins implemented
  package-lock.json
  src/App.tsx
  src/components/Map/Map.styled.ts
  src/components/Map/Map.tsx
  src/components/SerchBarInput/SearchBarInput.tsx
  src/pages/AddTrip.tsx
Due: prettier . --write, npm run lint -- --fix

Path conditions:
  prettier . --write: any of: *.{js,jsx,json,css,md,ts,tsx}
  npm run lint -- --fix: any of: *.{js,jsx,ts,tsx}
